.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.5rem;
  padding: 0 10.3125rem;

  &__logo {
    width: 10.625rem;
    height: 1rem;
    margin: 1.75rem 0;
  }

  &__links {
    a {
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $black;
    }

    a:not(:last-child) {
      margin-right: 38px;
    }

    a:hover {
      opacity: 0.3;
    }
  }

  &__btn--box {
    display: flex;
    background-color: $black;
    width: 9.875rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;

    a {
      width: 9.875rem;
      height: 2.5rem;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white;
      padding: 0.75rem 1.375rem;
    }

    &:hover,
    a:hover {
      color: $black;
      background-color: $lightgray;
    }
  }
}
