.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mb-104 {
  margin-bottom: 6.5rem;
}

.mb-120 {
  margin-bottom: 7.5rem;
}

.mb-160 {
  margin-bottom: 10rem;
}
