.story {
  background-image: url('../../assets/stories/desktop/moon-of-appalacia.jpg');
  background-size: cover;
  background-position: center center;
  width: 90rem;
  height: 40.625rem;

  &__container {
    padding-top: 7.625rem;
    padding-left: 7rem;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    width: 24.1875rem;
    height: 25.375rem;
    h4 {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    h1 {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    p {
      color: $white;
      mix-blend-mode: normal;
      opacity: 0.6;
      margin-top: 1.5rem;
    }
  }

  &__date {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-right: 9px;
  }

  &__author {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    color: $white;
  }

  &__btn {
    margin-top: 1.5rem;

    &:hover {
      text-decoration-line: underline;
      .story__lgradient {
        position: absolute;
        left: 14.375rem;
        top: 4.5rem;
        width: 45rem;
        height: 40.625rem;
        background: radial-gradient(
          68.48% 68.48% at 0% 100%,
          #ffc593 0%,
          rgba(188, 113, 152, 0.496968) 52.36%,
          rgba(90, 119, 255, 0.0001) 100%
        );
        mix-blend-mode: normal;
        opacity: 0.49;
      }
    }
  }
}
