//* Home Page Cards*//
.solutions__card {
  display: flex;
  align-items: center;

  .solutions__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24.1875rem;
    height: 19rem;
    margin-left: 6.625rem;

    h1 {
      text-transform: uppercase;
      color: $black;
      margin-bottom: 1.3125rem;
    }

    p {
      color: $black;
      mix-blend-mode: normal;
      opacity: 0.6;
      margin-bottom: 3rem;
    }
  }
}

//* Story Cards*//
.story__card--img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 22.5rem;
  height: 31.25rem;
}

.story__card {
  &__container {
    position: relative;
  }

  &__titlebox {
    position: absolute;
    width: 17.5rem;
    height: 2.875rem;
    left: 2.5rem;
    top: 22.5625rem;

    h3 {
      margin-top: 4px;
      color: $white;
    }

    h4 {
      font-weight: normal;
      color: $white;
    }
  }

  &__border {
    position: absolute;
    width: 17.5rem;
    height: 1px;
    left: 2.5rem;
    top: 26.4375rem;
    background: $white;
    mix-blend-mode: normal;
    opacity: 0.25;
  }

  &__read--container {
    position: absolute;
    width: 17.5rem;
    height: 1rem;
    left: 2.5rem;
    top: 27.75rem;
  }

  &__read--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;

    a {
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 2px;
      width: 6.25rem;
      color: $white;
      text-transform: uppercase;
    }

    svg {
      width: 2.625rem;
      height: 0.75rem;
    }
  }
}

.story__card1 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/mountains.jpg');
}

.story__card2 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/cityscapes.jpg');
}

.story__card3 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/18-days-voyage.jpg');
}

.story__card4 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/architecturals.jpg');
}

.story__card5 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/world-tour.jpg');
}

.story__card6 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/unforeseen-corners.jpg');
}

.story__card7 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/king-on-africa.jpg');
}

.story__card8 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/trip-to-nowhere.jpg');
}

.story__card9 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/rage-of-the-sea.jpg');
}

.story__card10 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/running-free.jpg');
}

.story__card11 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/behind-the-waves.jpg');
}

.story__card12 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/calm_waters.jpg');
}

.story__card13 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/milky-way.jpg');
}

.story__card14 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/dark-forest.jpg');
}

.story__card15 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/somwarpet.jpg');
}

.story__card16 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url('../../assets/stories/desktop/land-of-dreams.jpg');
}

.story__card1:hover,
.story__card2:hover,
.story__card3:hover,
.story__card4:hover,
.story__card5:hover,
.story__card6:hover,
.story__card7:hover,
.story__card8:hover,
.story__card9:hover,
.story__card10:hover,
.story__card11:hover,
.story__card12:hover,
.story__card13:hover,
.story__card14:hover,
.story__card15:hover,
.story__card16:hover {
  transform: translateY(-1.5rem);
  transition: transform 400ms;
}

//* Features Cards *//
.features {
  grid-gap: 1.875rem;
  margin: 0 10.3125rem 7.5rem 10.3125rem;
}
.features__card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 21.87rem;
  height: 14.75rem;

  h3,
  p {
    text-align: center;
  }

  p {
    height: 3.125rem;
  }
}
